<%- layout('layouts/main') %>
<div class="row p-2">
  <div class="col-md-3">
    <div class="card">
      <img src="<%= respdetails.profile_picture_url %>" class="card-img-top" />
      <div class="card-body text-center">
        <h5 class="card-title"><%= respdetails.name %></h5>
        <%=respdetails.username%>
        <hr />
        <%=respdetails.media_count %> <i class="fas fa-camera"></i> -
        <%=respdetails.follows_count %> <i class="fas fa-heart"></i> -
        <%=respdetails.followers_count %> <i class="fas fa-users"></i>
      </div>
      <div class="card-footer">
        <a href="<%=respdetails.website %>" class="btn btn-success btn-block" target="_blank">Website</a>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% resp.data.forEach(function( data ) { %>
      <div class="col-md-4">
        <div class="card mb-2 animated bounceInUp">
          <img src="<%= data.media_url %>" class="card-img-top" />
          <div class="card-body">
            <p>Caption <%= data.caption %></p>
            <p>Timestamp</p>
            <p class="text"><%= data.timestamp %></p>
            <p>Likes_Count</p>
            <p class="text"><%= data.like_count %></p>
            <p>MediaType</p>
            <p class="text"><%= data.media_type %></p>
            <p>Comments_Count</p>
            <p class="text"><%= data.comments_count %></p>

          </div>
        </div>
      </div>
      <% })%>
    </div>
  </div>
</div>